.button__white {
   padding: 12px 32px;

   font-size: 17px;
   font-weight: 800;
   font-style: normal;
   line-height: 140%;
   color: var(--color-bg-blue);
   text-align: center;
   white-space: nowrap;

   background-color: var(--color-br-white);
   border: none;
   border-radius: 34px;
}

.section-p-grey {
   font-size: 17px;
   font-weight: 500;
   font-style: normal;
   line-height: 140%;
   color: var(--color-text);
}

.section-align-center {
   text-align: center;
}

.section-headers {
   font-size: 48px;
   font-weight: 600;
   font-style: normal;
   line-height: 120%;
   color: var(--color-h2);
}

.section-border-top {
   border-top: 1px solid var(--color-border);
}
